In [1]:
# Author: CHANGJUN LEE
# Date: 20200217
# CS301-006, Professor Watson
# HW03 Solution
#  
# link to the git repo (ex: https://github.com/jun93lee/CJ)
# link-to-the-relevant-git-commit (ex: https://https://github.com/jun93lee/CJ/commit/dbe403a11f79ffb8cd2406f8ea315cb5ce19d952)
# name-of-the-branch (ex: master)

In [2]:
import pandas as pd

## HW 03 - answer below

Problem 1)

In [3]:
def data_reader(file): # create data_reader file
    #inF = open(file)
    
    #print(len(inF.read()))
    #inF.close()
    try:
        #df = pd.#DataFrame({'col1':[2,0], 'col2':[194,6]})
        #return df.shape
    
        drinks_df = pd.read_csv(file) 
        #drinks_df.head(10)
        
        print(drinks_df.shape) 
        return drinks_df
    
    except:
        #error = 'Error during reading, please try again'
        print('Error during reading, please try again') #if you can't find file

In [4]:
my = "C:\\Users\\jun93\\Desktop\\Spring 2020\\CS 301\\drinks.csv"

In [5]:
#query = input('What can I help you with today?')

In [6]:
res_df = data_reader(my)

(193, 6)

In [7]:
res_df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

Problem 2)

In [8]:
def get_num_outliers(df, string):
    #q = df[string].quantile(0.99)
    #df[df[string] < q]
    total = 0
    #low = wine[string].quantile(0.01)
    #print(low)
    #high = wine[string].quantile(0.99)
    #print(high)
    num_column = df[[string]]
    #print(num_column)
    summary = num_column.describe()
    print(summary)
    
    q1 = summary.loc['25%'].iloc[0]
    print(q1)
    q3 = summary.loc['75%'].iloc[0]
    print(q3)
    IQR = q3-q1
    lower = q1 - (1.5*IQR)
    upper = q3 + (1.5*IQR)
    
    for i in num_column.values: # 'Wine_Serving values'
        if i < lower or i > upper:
            total += 1
    
    #if(wine[string] < q1):
    #    total *= 1
    #else:
    #    total += 1
    
    return total
    
    #outliers = wine[(wine[string] < high) & (wine[string] > low)]
    #if (not wine[string] < high) and (not wine[string] > low)
    #{
    #    total += 1
    #}
    #return total

In [9]:
get_num_outliers(res_df, 'wine_servings')

       wine_servings
count     193.000000
mean       49.450777
std        79.697598
min         0.000000
25%         1.000000
50%         8.000000
75%        59.000000
max       370.000000
1.0
59.0

26

Problem 3)

In [10]:
def get_num_deviants(df, col, multipler):
    #wine = pd.read_csv(df)
    #print(wine)
    #num_column = df[[string]]
    #print(num_column)
    #summary = num_column.describe()
    #query = [col]
    num = df[col]
    #print(num)
    total = 0

    mean = num.mean()
    std = num.std()
    #num.min()
    #num.max()
    
    negative = mean - (multipler*std)
    #print(negative)
    positive = mean + (multipler*std)
    #print(positive)
    
    for i in num.values:
        if i > positive or i < negative:
            total += 1
    
    return total

In [11]:
get_num_deviants(res_df,'wine_servings', 1)

28

In [12]:
get_num_deviants(res_df,'wine_servings', 2)

15